{% extends 'layout.html'%}

{% block content%}

<!DOCTYPE  html>
<html>

<head>
  <title>Advert2</title>

  <link rel ="stylesheet" type="text/css" href="css/about us.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  

  
  
</head>

  <body>
  <div class="box">
  <div class="logo">
  <img src="img/grouplogo (1).png">
    
  </div>
  <nav>
  <ul>
    <li><a href="Index.html">Home</a></li>
    <li><a href="About Us.html">About Us</a></li>
    <li><a href="Events.html">Events</a></li>
    <li><a href="Blog.html">Blog</a></li>
    <li><a href="Contact.html">Contact</a></li>
    
  </ul>
</nav>
<div class="leah">
<div class="one">
<hr>
<h1>About Us</h1>
<hr>
</div>
<h2>ALL ABOUT THE TEENIZ GROUP</h2>
<div class="two">
<p>STAFF</p>
<div class="three">
</div>
<div class="four">
</div>
</div>
<div class="five">
<img src="img/leah.jpg">
</div>
<div class="six">
<img src="img/fatma.jpg">
</div>
<div class="seven">
<img src="img/ivy.jpg">
</div>
<div class="eight">
<h3>Lea Ndirangu</h3>
<p>She is one of the co-founders in the team. Deals with the department of teens and organising events for them.</p>
</div>
<div class="nine">
<h4>Fatma Mohammed</h4>
<p>A co-founder of the teeniz group who is determined and ready to reduce the rate of teenage pregnancy in Kenya.</p>
  
</div>
<div class="ten">
<h5>Ivy Khamisi</h5>
<p>Ivy is a co-founder of teeniz group who makes sure everything is organized and in place.</p>
  
</div>
</div>

</div>

<footer>
  <i class="fa fa-copyright" style="font-size:30px;"></i>
  <p>2018, All rights reserved  About Us | Privacy | Terms & Conditions</p>
  <hr>
  <h3>done by teeniz group</h3>
</footer>
   
  
</body>
  
</html>


{% endblock %}