
{% extends 'layout.html'%}

{% block content%}

<!DOCTYPE  html>
<html>

<head>
  <title>Advert2</title>

  <link rel ="stylesheet" type="text/css" href="css/Blogs.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  

  
  
</head>

  <body>
  <div class="box">
  <div class="logo">
  <img src="img/grouplogo (1).png">
    
  </div>
  <nav>
  <ul>
    <li><a href="Index.html">Home</a></li>
    <li><a href="About Us.html">About Us</a></li>
    <li><a href="Events.html">Events</a></li>
    <li><a href="Blog.html">Blog</a></li>
    <li><a href="Contact.html">Contact</a></li>
    
  </ul>
</nav>
<div class="one">
  <div class="two">
  <img src="img/college.jpg">
  <h1>College life <br>Time management tips</h1>
  <p>You may be reveling in your new-found freedom; you will soon discover that managing your coveted free or unstructured time will be more difficult than you had planned. You are not alone in attempting to balance a chaotic schedule in earning your degree.
So what can you do to better manage your time? The following tips should help you both have fun, as well as adjust to college organizational challenges, while navigating yourself in the direction of college success.<br><br>

 USE TECHNOLOGY
Using your phone for calendars and planning your everyday activity will help you achieve your goals.This planner will be reminder for all the deadlines for the semester from your syllabus.You will plan ahead for that final project and get time to study at the same time.<br><br>

 SET (SMART) GOALS
If you have a lot on your plate, set some daily or weekly goals for yourself. Viewing your tasks in smaller and more manageable sets makes achieving them less stressful, and helps you to avoid procrastination. If your daily or weekly goals are still overwhelming, maybe it’s time to think about whether you have committed yourself to too many things- clubs, sports, and other organizations. It’s important to prioritize and understand which of your activities is necessary and which aren’t, as well as which classes require more of your attention.<br><br>

 CREATE A SCHEDULE
Creating your own routine is very helpful in avoiding the 11th hour rush which leads to feeling stressed.This will even help you identify your free time which you can fill with doing your favourite hobbies.

</p>
    
  </div>
  <div class="three">
  <img src="img/w.jpeg">
  <h2>College life<br>Stress during college life</h2>
  <p>
College life may be more challenging because of exams,  long-distance relationships or just struggling with a pile of homework.

Here are some steps to handle stress:<br><br>

SCHOOL WORK -  School work may be quite stressing and not a favorite thing to do, whether you like it or not is a must to do in order to graduate from college. You should set at list 2-3 hours to study outside of a classroom. While studying avoid distractions and stay focused. Be at a place where you comfortable.<br><br>

SOCIAL ACTIVITIES - Spending all your time doing school work is quite draining. Use social platforms such as facebook, twitter, and Whatsapp. This will help one to relax and see things in the real world. During this time you should expand your social and professional networks.<br><br>

SLEEP -  Resting is part of life. ⅓ of our time is meant for sleeping. Do not overwork yourself and forget to take a rest. Take care of yourself to avoid harm.<br><br>

YOURSELF - One should have at least some time for herself to watch movies, listen to music, go hiking just to have anything for yourself. 
Once you have space for yourself you are able to be creative and think about bigger and better things.
Most importantly set goals for yourself, have good time management skills and organization. Always have a plan for yourself.</p>
    
  </div>
  <div class="four">
  <img src="img/acne.jpg">
  <h3>Beauty<br>Save your skin and hair</h3>
  <p>Usage of Coconut Oil to save your skin and hair
Coconut oil is commonly used in cosmetics and cosmeceuticals to calm itchy, dry skin and moisturize as a creamy, lotion-like oil.<br><br>

  BENEFITS OF COCONUT OIL AT HOME:
How to use coconut oil for hair: Use as a pre-shampoo conditioner. Just rub a small amount of coconut oil into the dry hair and let it do its work for 20 to 30 minutes. Wash and condition hair as usual. You can also tame the frizzies. Rub ½ teaspoon coconut in your hair after styling. The oil will calm down dryness and the frizzies and give your hair a wonderful fragrance.<br><br>

HOW TO USE COCONUT OIL FOR SKIN: Moisten dry lips. Rub coconut oil on your lips and then rinse it off. Coat again with the oil to keep lips moist and soft. Also, fight fungus on your feet. Did you know that coconut oil has natural anti-fungal properties? It makes a great moisturizer for your legs, feet and heels. Use it daily to keep your feet smooth and prevent foot fungus.
    
Do you know that smoking can cause damage to your skin? Smoking causes  weakening of the skin and results to sags and bags. Women who smoke at a young age will notice sagging skin and premature wrinkles long before their nonsmoking peers.</p>
    
</div>
<div class="five">
<img src="img/skincare.jpg">
<h4>Beauty<br>Skincare</h4>
<p>SKINCARE FOR TEENS<br>

It is almost impossible to get through your teen years without a slew of complaints about
your skin.
Puberty in girls begins at the age of 10- 14 years.There is a fact that we all have different
skin types,this means the skin tip that works for her might not work for you.<br><br> 

HERE ARE THE TOP SKIN TIPS FOR TEEN SKIN CARE:<br>
1. Cleanse carefully. If your skin is oily, you will probably do well with a foaming or gel
cleanser for daily skin care. Cleanse once a day, or twice if your skin gets very oily or
dirty throughout the day e.g.If a teen girl wears makeup, it is best to remove eye makeup
first, then cleanse with your fingertips and a gel or foaming cleanser.
 For teens who have dry rather than oily skin, try a milky cleanser and moisturizer always
 carry facial tissues to soak up your skin.<br>
2. Get the right acne products. If you have breakouts wash your skin,use a toner, and then apply a medicated acne gel.<br>
3. Don’t share makeup. Do you know it is bad to  share your friends germs? It is especially a bad idea to share eye and lip products.So, as tempting as it is to try your friends perfect new
lipstick, get your own instead.<br>
4. Keep hands clean. One way to help your skin stay healthy is to protect it from dirt and
too many germs. Wash your hands before you touch your face or touch up your makeup
and regularly clean other surfaces that touch your skin, such as your phone.<br>
5.Skip the toothpaste and other old  tales. You might hear about many odd
remedies to control acne, like putting toothpaste on your skin. In fact, this could just
make skin worse if you are allergic to the ingredients. </p>

  
</div>
<div class = "six">
<img src="img/menstrual.jpg">
<h5>Sexual Health<br>Menstruation Cycle</h5>
<p>This is the regular flow of blood from the vagina and mainly occurs every month. Girls start menstruation from the age between twelve and fifteen years of age.<br><br>
  
    COMMON SYMPTOMS:<br>
Mood swings.<br>
Headache.<br>
Backaches.<br>
Bloating.<br>
Some people may have food cravings.<br>
Some people vomit or diarrhoea.<br>
Cramps in the abdomen.<br><br>

Menstruation can be regular or irregular.<br>
Regular periods mostly occur about the same time and length every month.
Irregular periods mostly occur more frequently than 21 days and may last longer than 8 days. Also, occurs early or late than your due date meaning unpredictable.<br><br>

    PERIOD BLOOD COLOR AND THEIR MEANING<br>
Bright red-is the freshest blood your uterus is shedding. May also indicate an underlying problem like cyst.<br>
Dark red- mostly indicates the ending of your bleeding.<br>
Pink- may indicate that you are stressed out, highly athletic,change in weight or indicator of vitamin or nutrient deficiency.<br>
Brown or black- may be a left over of the previous month. The longer blood stays in the uterus the darker it becomes.
Orange with a scent- may indicate a sign of a sexually transmitted disease.

</p>
  
</div>
<div class="seven">
<img src="img/preg.jpg">
<h6>Sexual health<br>Pregnancy</h6>
<p>Pregnancy is also called gestation. This is when one or more offspring develops in a woman’s womb. Childbirth is always estimated to occur within 40 weeks from the last monthly period.<br><br>
    
    PREGNANCY SIGNS<br>
Missed periods.<br>
Tiredness.<br>
Morning sickness.<br>
Back pains.<br>
Nausea.<br>
Breast tenderness.<br>
Increased urine frequency.<br><br>


PREGNANCY PREVENTION<br>

Use male condoms - when having sexual intercourse, ask your male partner to use a condom.
Use a female condom - if your male partner has no or does not want to use a condom, there are female condoms that are used by women. Make sure you insert it correctly.<br>
Contraceptive pills - these are pills you swallow daily even if you are not having sex daily. But you should be careful because these pills may disrupt your hormonal balance.<br>
Injection - also known as depo-provera are injected every 12 weeks in a hospital to prevent pregnancy.<br>
Implants - also called jadelle, are implanted on the left arm of a lady. You may chose a 3-year or a 5-year implant. Contains hormones too.<br>
Withdrawal method -  this is where the male withdraws the penis before ejaculation occurs. It is not 100% safe.<br>
Abstain - this is where you avoid sexual contact.

</p>
  
</div>
<div class="eight">
<img src="img/lo.png">
<div class="r">
<p>Relationships<br>Five signs you are in love.</p>
</div>
<p>
  5 Signs You Are In Love<br>

You  have met someone and still wondering if you are have fallen in Love? Well this article is just for you.<br><br>

DAYDREAMING<br><br>

You start dreaming about them every second in your life.You include them in your future plans and even feel comfortable talking to them about your plans.<br><br>

TALK ABOUT THEM <br><br>

You talk about them to everyone you are close to. No conversation ends without mentioning them.Talking about them passionately and every moment you have spent together.<br><br>

LISTEN TO LOVE SONGS<br><br>

Your mix on Youtube starts to be more of Love Songs.This songs become your solace and you find yourself listening to only Love Songs.<br><br>

YOU WANT TO BE WITH THEM<br><br>

Every hour of your day you want to spend it with them. When you are around them you you feel happy and enjoy your time around them.<br><br>


YOU CAN'T STOP THINKING ABOUT THEM<br><br>

Everytime you try to focus on something else, and this is mostly when you want to study. When you try to interact the thought, you find yourself right back thinking  of  them.</p>
  
</div>
<div class="nine">
<img src="img/walk.jpg">
<div class="s">
<p>First Teen Relationship</p>
</div>
<p>
Is being in a high school relationship worth it? The initial answer for a still maturing young man such as myself would’ve been no thus because a majority of high school relationship does not last it is just a waste of time.

Going through a relationship while young is also an advantage because it can ripen a young individual’s mind while helping them discover what it is they’ll want out of future relationships in life. Every person someone dates during their life will teach them what they do and do not want, and obviously, that is no different for high school students.<br><br>

HERE COMES MY STORY<br><br>

How did we meet? We met at a weekend challenge Kangema Boys High School when I was 15 years and he was 18 years. We used to meet during our holidays and go for retreats which were fun. We stayed together for one year until  he cleared his secondary school education. 

After he was done there was no affection even communication was a big problem.  After been together for one year it was all a waste of time. I ended up in a heartbreak which also affected my studies.

This taught me to always take care of my heart and deal with things that matter.<br><br>
 
ADVICE<br><br> 
For those who have experienced any heartbreak I know, it is hard but it is the right time to forget the past and move ahead. Focus on your education and do your best. At teenage don’t specialize but socialize keep your life simple.


  
</p>
  
</div>

  
</div>
</div>
 <footer>
  <i class="fa fa-copyright" style="font-size:30px;"></i>
  <p>2018, All rights reserved  About Us | Privacy | Terms & Conditions</p>
  <hr>
  <h3>done by teeniz group</h3>
</footer>

   
  
  </body>
  
</html>

{% endblock %}