
{% extends 'layout.html'%}

{% block content%}
<!DOCTYPE  html>
<html>

<head>
	<title>Advert2</title>

	<link rel ="stylesheet" type="text/css" href="css/contact.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  

  
	
</head>

	<body>
  <div class="box">
  <div class="logo">
  <img src="img/grouplogo (1).png">
    
  </div>
  <nav>
  <ul>
    <li><a href="Index.html">Home</li>
    <li><a href="About Us.html">About Us</a></li>
    <li><a href="Events.html">Events</a></li>
    <li><a href="Blog.html">Blog</a></li>
    <li><a href="Contact.html">Contact</a></li>
    
  </ul>
</nav>
<div class="ivy">
<h1>CONTACT</h1>
<hr>
<h2>We'd love to help<br>Feel free to say hello!</h2>

<!-- <form action="/action_page.php">
<input type="text" name="firstname" value="Your name"><br><br>
<input type="text" name="lastname" value="Email"><br><br>
<input type="text" name="lastname" value="Message">
</form>  -->
<input type="name" class="form-control" id="name" placeholder="firstname"><br><br>
<input type="email" class="form-control" id="email" placeholder="Email"><br><br>
<input type="name" class="form-control" id="name" placeholder="Message"><br><br>


<!-- <div class="form-group">
    <label for="name">firstname</label>
    <input type="number" class="form-control" id="name" placeholder="firstname">

  </div> -->
<div class="icons">
<i class="fa fa-envelope-o" style="font-size:30px;"></i>
<p>Teenizgroup@gmail.com</p>
</div>
<div class="two">
<i class="fa fa-map-marker" style="font-size:30px;"></i>
<p>Teeniz Group<br>Nairobi,Kenya</p>
</div>
<div class="three">
<i class="fa fa-phone" style="font-size:30px;"></i>
<p>0203114537</p>

</div>



  
</div>
<footer>
  <i class="fa fa-copyright" style="font-size:30px;"></i>
  <p>2018, All rights reserved  About Us | Privacy | Terms & Conditions</p>
  <hr>
  <h3>done by teeniz group</h3>
</footer>

</body>

  
	
</html>
{% endblock %}