
{% extends 'layout.html'%}

{% block content%}
<!DOCTYPE  html>
<html>

<head>
  <title>Advert2</title>

  <link rel ="stylesheet" type="text/css" href="css/events.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  
  
</head>

  <body>
  <div class="box">
  <div class="logo">
  <img src="img/grouplogo (1).png">
    
  </div>
  <nav>
  <ul>
    <li><a href="Index.html">Home</a></li>
    <li><a href="About Us.html">About Us</a></li>
    <li><a href="Events.html">Events</a></li>
    <li><a href="Blog.html">Blog</a></li>
    <li><a href="Contact.html">Contact</a></li>
    
  </ul>
</nav>
<div class="one">
<img src="img/doll.jpg">
<i class="fa fa-child" style="font-size:48px;"></i>
<h1>EXPLORE THE FUN</h1>
<h2>Discover awesome events around you</h2>
<div class="icons">
<i class="fa fa-calendar" style="font-size:30px;"></i>
<div class="two">
<p>When</p>
</div>
<div class="pin">
<i class="fa fa-tags" style="font-size:30px;"></i>
<div class= "three">
<p>What</p>
</div>
</div>
<div class="loca">
<i class="fa fa-map-marker" style="font-size:30px;"></i>
<div class="four">
<p>Where</p>
  
</div>


  
</div>
<div class="bino">
<i class="fa fa-binoculars" style="font-size:30px;"></i>
<div class="button">
<button class="btn success">Show the fun!</button>
  
</div>
</div>
  
</div>
<div class="five">
<h3>Upcoming Events</h3>
<div class="six">

<h4>01</h4>
<img src="img/teen music.jpg">
<p>Music Festival</p>
<div class="seven">
<p>location: Nairobi Safaripark<br>
   Call:0797624751<br>
   kindly lets participate, If you are comfortable<br> call me to book a ticket

 </p>
  
</div>
<hr>
  
</div>
<div class="eight">
<h5>02</h5> 
<img src="img/hiking.jpg">
<p>Hiking</p>
<div class="nine">
<p>location: Ngong Hills<br>
   Call:0797624751<br>
   kindly lets participate, If you are comfortable<br> call me to book a ticket
  
</div>
</div>
  
</div>
<div class="price">
<p>Price plans</p>
</div>
<div class="ten">
<p>Music Festival<br>
   ticket@200shs each
</p>
<hr>
<div class = "el">
<p>Hicking<br>
   Free
</p>
</div>

  
</div>
  


</div>
<footer>
  <i class="fa fa-copyright" style="font-size:30px;"></i>
  <p>2018, All rights reserved  About Us | Privacy | Terms & Conditions</p>
  <hr>
  <h3>done by teeniz group</h3>
</footer>


   
  
  </body>
  
</html>

{% endblock %}